.hero-section {
  position: relative;
  background: url("./assets/images/fleetPage/fleet-cover.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-section .text-center {
  position: relative;
  z-index: 2; 
}

/* Slider */

.slider {
  position: relative;
  max-width: 800px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}

.slider img {
  width: auto;
  margin: auto;
  max-height: 500px;
  display: none;
}

.slides > .displaySlide {
  display: block;
}

.slider > button {
  font-size: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  padding: 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.prev {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
}
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
